@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100&family=Cookie&family=Karla:wght@200&display=swap');
@keyframes animatezoom{from{transform:scale(0)} to{transform:scale(1)}}
@keyframes fade {from {opacity: .4}to {opacity: 1}}
@keyframes fadeIn {from {top:-100%; opacity:0}to {top:0; opacity:1}}
@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
:root {
    --lightpink:#FFF8F4;
    --main: #ee4d2d;
    --grey:#252525;
    --white:#FFFFFF;
    --border:#e6e5e5;
    --lightgrey: #F9F9F9;
    --black: black;
    --lightblack:rgba(0,0,0,0.7);
    --m-family:'Karla';
}
h1{font-size:4rem; font-family:'Karla';}
h2{font-size:1.8rem;font-family:'Karla';}
h3{font-size:1.8rem;font-family:'Karla';}
h4{font-size:1.2rem;font-family:'Karla';}
button{font-size:0.8rem}
@media screen and (max-width:786px) {
    h1{ font-size:3rem;}
    h2{font-size:1.5rem;}
    h3{font-size:1.2rem;}
    h4{font-size:1rem;}
    a{font-size: 1rem;}
    button{font-size: 0.6rem;}
}
@media screen and (max-width:576px) {
    h1{font-size:2.5rem;}
    h2{font-size:1.2rem;}
    h3{font-size:1rem;}
    h4{font-size:0.8rem;}
    a{font-size: 0.8rem;}
}
i,button{cursor: pointer;}
body{position: relative;}
.hidden{display: none;}
section{padding-top: 120px; }
