/* *********Card  *********/
.product{
    padding-top: 120px;
    width: 100%;
}
.row{
    display: flex;
    margin: auto;
    background-color: var(--white);
    justify-content:center;
}
.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
@media screen and (max-width: 768px){
    .col-tab-1 {width: 8.33%;}
    .col-tab-2 {width: 16.66%;}
    .col-tab-3 {width: 25%;}
    .col-tab-4 {width: 33.33%;}
    .col-tab-5 {width: 41.66%;}
    .col-tab-6 {width: 50%;}
    .col-tab-7 {width: 58.33%;}
    .col-tab-8 {width: 66.66%;}
    .col-tab-9 {width: 75%;}
    .col-tab-10 {width: 83.33%;}
    .col-tab-11 {width: 91.66%;}
    .col-tab-12 {width: 100%;}
}
.changeColor{
    color: var(--main);
    font-weight: bold;
}
.input-group{
    display: flex;
    justify-content:center;
    align-items: center;
 }
 .input-group input{
     width: 50%;
     height:5%;
     padding: 10px;
     outline: none;
 }
 .input-group-btn i{
     font-size:2.2rem;
     border: none;
     cursor: pointer;
     color:var(--white);
     background-color:#888;
 }
 .input-group-btn i:hover{color:var(--main);}
 @media screen and (max-width:786px) {
    .input-group input{width:80%;}
}
.row-card{
    width: 90%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    overflow: hidden;
}
.card-container{
    height: 460px;
    border: 1px solid var(--border);
    margin: 10px;
    width: calc(25% - 20px);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 5px 5px 0px var(--border);
    border: 1px solid var(--border);
    border-radius: 5px;
}
.card-content{
    flex: 30%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    border-color:var(--greywhite);
    padding: 10px;
    flex-shrink: 0 ;
    flex-grow: 0;
    overflow: hidden;

}
.card-img{
    flex: 70%;
    display: flex;
    flex-shrink: 0;
    overflow: hidden;
    position: relative;
}
.card-container:hover .card-content{background-color:var(--lightgrey);}
.card-img a{display: flex;}
.card-img img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.card-container:hover img{
    transition:all 0.4s;
    transform: scale(1.3);
}

.card-content a{
    font-family: var(--m-family);
    padding:6px 25px;
    background-color:var(--main);
    text-decoration: none;
    color:var(--white);
    font-weight: 600;
    font-size:14px;
    border-radius: 2px;
    justify-content: space-between;
}
.card-container .card-content a:hover{
    background-color:var(--main);
    font-weight:bold;
    transform: translateY(-5px);
    box-shadow: 0 0 5px var(--black),
                0 0 5px var(--black);

}

.card-content h4{
    text-align: center;
    display: flex;
    font-family: 'Karla', sans-serif;   
    overflow: hidden;
}
.card-content p{color:var(--grey);}
@media screen and (max-width:1199px){
    .card-container{
        width: calc(33% - 20px);
        height: 400px;
    }
}
@media screen and (max-width:1023px){
    .card-container{
        width: calc(33% - 20px);
        height: 360px;
    }
}
@media screen and (max-width:786px){
    .row-card{width: 100%;}
    .card-container{
        width: calc(50% - 20px);
        height: 340px;
    }
    .card-container .card-content a,.card-content h4,p{font-size:0.7rem;}
}
/********** End card**************** */
.category{
    width: 90%;
    padding:0 10px;
    display: flex;
    justify-content: flex-start;
    margin: auto;
}
.label-container{
    flex: 60%;
    display: flex;
}
.label-container label{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 10%;
    cursor: pointer;
}
.form-search{
    flex: 40%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.form-search input{width: 100%;}
@media screen and (max-width:786px) {
    .category{flex-wrap: wrap;}
    .label-container{flex: 100%;}
    .form-search{
        flex: 100%;
        justify-content:center;
        padding-top: 20px;
    }
   label{font-size:0.8rem;}
}
/* Preview cart panel */
.popup-modal{
    z-index:11;
    display:none;
    padding-top:100px;
    position:fixed;
    left:0;top:0;
    width:100%;
    height:120vh;
    overflow:auto;
    margin-top: -100px;
}
.animate-zoom {-webkit-animation:animatezoom 0.6s;animation:animatezoom 0.6s}
.panel-container{text-align:center!important}
.comparePanel{
    position: fixed;
    bottom: 10px;
    width:90%;
    margin-left: 5%;
    display: none;
    z-index: 3;
    overflow: hidden;
    box-shadow:0 4px 8px 0 rgba(0,0,0,0.2),
              0 6px 20px 0 rgba(0,0,0,0.19);
    margin-top:16px;
}
.panel-item{
    box-shadow: 5px 0 5px var(--grey);
    padding-top:20px;
}
.selectedItemCloseBtn{
    position: absolute;
    cursor: pointer;
    font-size:2rem;
    right: 10px;
    top:5px;
}
.selectedItemCloseBtn:hover {color: var(--main);}
.btn-compare{
    padding:10px;
    background-color:var(--main);
    color: var(--white);
    border-radius: 5px;
    margin-top:10px;
    margin-right: 20px;
    float: right !important;
    cursor: pointer;
}

/* modal cart start*/
.modal{
    background-color:var(--white);
    position: fixed;
    top:50px;
    left: 50%;
    transform: translateX(-50%);
    z-index:11;
    padding: 10px 50px 50px 50px;
    display: none;
    box-shadow: 5px 8px 16px 10px rgba(0,0,0,0.5);
    border-radius: 15px;
    animation: fadeIn 0.3s;
}
.modal-title{
    text-align: center;
    font-family: 'Karla';
    margin-bottom: 30px;
    font-size: 2.5rem;
    color: var(--orange);
    background-color:var(--white);
}
.modal-header i{
    font-size:30px;
    padding:5px;
    float: right;
    cursor: pointer;
    margin-right: -20px;
}
.modal-header i:hover{color: var(--red)}

.modal-body table{
    width: 60vw;
    padding-top: 50px;
}
.modal-body table tr th{
    padding-bottom: 15px;
    margin: 30px 0;
    border-bottom: 1px solid var(--border);
}
.modal-body table tr td{
    padding:15px 0 15px 0;
    align-items: center;
    border-bottom: 1px solid var(--border);
}
#btnX:hover{color: var(--main);}
.modal-body h3{
    text-align: right;
    margin-right: 30px;
}
.modal-body table tr th:first-child{text-align: left;}
.modal-body table tr td:not(:first-child){text-align: center;}
.modal-footer button{
    cursor: pointer;
    padding:10px 30px;
    margin-right: 20px;
    margin-top: 20px;
    font-size:initial;
    background-color:var(--main);
    border: none;
    color:var(--white);
    border-radius: 10px;
    float: right;
}
.modal-footer button:hover{
    transform:translateY(-5px);
    box-shadow: 0 0 5px var(--black),
                0 0 5px var(--black);
}
.minus-item,.plus-item{
    font-size:30px;
    cursor: pointer;
}
.input-group span i{
    font-size:15px; 
    padding:5px;
    background-color:var(--greywhite);
}
.input-group span i:hover{
    background-color: var(--border);
    color: var(--main)
}
.item-count.form-control{
    height:30px;
    width:50px;
}
.delete-item{
    background-color:var(--lightgrey);
    outline:none;
    border:none;
    padding:5px;
    border-radius: 5px;
    color:var(--grey);
    cursor: pointer;
}
.delete-item:hover{color: var(--main);}
.total-count{
    background-color:var(--orange);
    border-radius:10px;
    color:var(--white);
    font-size:15px;
    font-weight:700;
    line-height:15px;
    padding:3px 7px;
    text-align:center;
    vertical-align:top;
    margin-left: -8px;
}
@media screen and (max-width:786px) {
    label img, .input-group input{height: 30px;}
    /* .submit{height:10px}; */
    /* .input-group-btn i{font-size:0.3rem; } */
    .modal-title{font-size:1.8rem;}
    .modal-body table tr th{
        font-size: 0.8rem;
        margin: 10px 0;
    }
    .modal-body table tr td{
        font-size: 0.8rem;
        padding: 5px 0;
    }
    .modal{
        width: 95vw;
        padding: 10px 10px 50px 10px;
    }
    .item-count.form-control{width:30px;}
    .show-cart.table{
        width:90%;
        margin: auto;
    }
    #btnX{ margin-right: 0;}
    .modal-footer button{
        padding:8px 20px;
        font-size:0.8rem;
    }
}
/* End modal cart */
.search-container{display: none;}
.nav-icon i span{
    color: var(--white);
    padding: 5px 8px;
    border-radius: 50%;
    background-color: var(--main);
}
/*******Panel compare when click button "+" ******/
.addButtonCircular{
    padding: 4px 10px !important;
    font-size: 20px;
	position: absolute;
	right: 5px;
    top: 5px;
    z-index:1;
	cursor: pointer;
    background-color:rgba(0,0,0,0.4) !important;  
    color: var(--white);
    border-radius:50%;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    display: none !important;   
}
.card-container:hover .addButtonCircular{display: block !important;}
.contentPop{
    width: 100%;
    height: 100%;
    margin-top: 40px;
}
.closeBtn{
    position:absolute;
    font-size:30px;
    cursor: pointer;
    top: 0px;
    right: 20px;
}
.closeBtn:hover{color: var(--orange);}
.container{position:relative;}
.contentPop-product {
    list-style-type: none;
    border: 1px solid #B5B4B7;
    margin: 0;
    padding: 0;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}
.product:hover {box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)}
.product .header {
    background-color:var(--black);
    color: var(--white);
    font-size: 25px;
}
.li-feature{text-align:center;}
.name-li{
    display: flex;
    align-items: center;
    justify-content: center;
    height:60px;
    flex-shrink: 0;
    overflow: hidden;
}
.product li {
    border-bottom: 1px solid #B5B4B7;
    padding: 10px;
    text-align: center;
}
.product .grey {
    background-color: #eee;
    font-size: 20px;
}
.row.comparePan{ flex-wrap: wrap;}

@media only screen and (max-width:576px){
    li{font-size: 12px;}
    .compareThumb{height: 100px;}
    .compHeader{min-height: 150px;}
}
.relPos{position: relative;}
.description{min-height: 150px;}
.rotateBtn{
    -webkit-transform : rotate(45deg); 
    -moz-transform : rotate(45deg); 
    -ms-transform : rotate(45deg); 
    -o-transform : rotate(45deg); 
    transform : rotate(45deg); 
}
.selected{
    border-style:solid !important;
    border-color:var(--orange) !important;
    border-width:medium !important; 
}
.compHeader{
    overflow: hidden;
    margin: 0 !important;
    padding: 0 !important;
    width: 100%;
    height:400px;
    display: flex;
    flex-shrink: 0;
    justify-content:center;
}
#popup{z-index:1001;}
.compHeader img{
    width: 100%;
    height: auto;
    object-position: center;
    overflow: hidden;
}
.product>.title {
    display: flex;
    flex-shrink: 0;
}
@media screen and (max-width: 768px){
    .compHeader{ height:200px;}
    .addButtonCircular{
        font-size:15px;
        padding: 4px 8px !important;
    }
 }